@import url("https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
}

ul, li, ol, a {
  padding: 0;
  margin: 0;
}

header {
  padding: 15px 10px;
}
header .container {
  height: 130px;
  position: relative;
}
header .container .inner_container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
header .container .inner_container .name {
  display: table;
  font-family: 'Cabin', sans-serif;
}
header .container .inner_container .collapse {
  display: table;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
header .container .inner_container .collapse .dotted_grouped {
  display: table;
  margin: 0 auto;
  cursor: pointer;
  line-height: 33px;
  margin-top: 20px;
}
header .container .inner_container .collapse .dotted_grouped span {
  width: 6px;
  height: 6px;
  background: #c0c0c0;
  display: block;
  border-radius: 100%;
  margin: 5px;
}
header .container .inner_container nav {
  display: block;
  background-color: white;
  position: absolute;
  bottom: -100px;
  right: 0;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #c0c0c0;
  z-index: 2;
}
header .container .inner_container nav ul {
  width: 230px;
  text-align: left;
}
header .container .inner_container nav ul li {
  list-style: none;
  display: block;
}
header .container .inner_container nav ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #E6726C;
  font-weight: 200;
  text-decoration: none;
  display: block;
  padding: 10px;
}
header .container .inner_container nav ul li a:hover {
  color: white;
  transition: .45s;
  background: #E6726C;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.container .app {
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  border-radius: 2px;
  padding: 20px 99px;
  border: 1px solid #c0c0c0;
}
.container .app .inner_app .header_app .title h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.container .app .inner_app .header_app .title p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.toggle_position {
  position: relative;
}
.toggle_position .magic_toggle {
  background-color: salmon;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.toggle_position .magic_toggle i {
  font-size: 35px;
  text-align: center;
  display: block;
  margin-top: 7px;
  color: white;
}

.display_entry_app {
  min-height: 400px;
  margin-bottom: 16px;
}

.container_form {
  position: relative;
  color: #F95658;
}
.container_form .inner_container_form {
  position: absolute;
  background-color: white;
  height: 170px;
  width: 270px;
  right: 49px;
  bottom: 0px;
  padding: 12px 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 4px 1px #c0c0c0;
}
.container_form .inner_container_form h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0px;
}
.container_form .inner_container_form #post {
  border: none;
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  position: absolute;
  right: 9px;
  top: 15px;
  color: #C0C0C0;
  cursor: pointer;
}
.container_form .inner_container_form #post:hover {
  color: #F95658;
}
.container_form .inner_container_form #post .validate {
  font-size: 20px;
}
.container_form .inner_container_form form input[type='text'] {
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #F95658;
  padding: 5px;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
}

.button-container {
  margin-top: 15px;
}
.button-container h5 {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 8px;
  color: #F95658;
}
.button-container button {
  width: 32.25%;
  border: none;
  padding: 0 3px;
  height: 26px;
  background-color: inherit;
  color: inherit;
  border: 1px solid;
  transition: 1s;
  cursor: pointer;
}
.button-container button:hover {
  background-color: #F95658;
  color: white;
}
.button-container button i {
  font-size: 20px;
}

footer {
  height: 50px;
  line-height: 50px;
  margin-top: 40px;
  text-align: center;
}
footer p {
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.item_task {
  height: 50px;
  display: block;
  padding-left: 40px;
  padding-right: 15px;
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
}
.item_task .option {
  display: inline-block;
  float: left;
  width: auto;
  height: 100%;
}
.item_task .entitled {
  height: 100%;
  line-height: 50px;
  display: inline-block;
  float: left;
  width: 69%;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding-left: 30px;
  text-decoration: line-through;
  color: #c0c0c0;
  letter-spacing: 5px;
}
.item_task .type_of_task {
  display: inline-block;
  height: 100%;
  float: left;
}
.item_task .type_of_task i {
  margin: 0 10px;
  height: auto;
  display: table;
}
.item_task .type_of_task i:before {
  line-height: 50px;
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
  color: #c0c0c0;
}

.opt {
  height: 50px;
  display: block;
  margin-right: 10px;
  text-align: center;
  float: left;
}
.opt i {
  margin: 0 10px;
  height: auto;
  display: table;
}
.opt i:before {
  line-height: 50px;
  font-size: 35px;
  cursor: pointer;
  font-weight: 300;
  color: #c0c0c0;
}

/*# sourceMappingURL=master.css.map */
